language: ruby

rvm:
- 2.2

cache: bundler
bundler_args: --path ../../vendor/bundle --without debug
gemfile:
- spec/gemfiles/rails_4_1.gemfile
- spec/gemfiles/rails_4_2.gemfile
- spec/gemfiles/rails_5_0.gemfile

env:
  global:
  - COVERAGE=1 TRAVIS=1
  matrix:
  # Username and password from http://docs.travis-ci.com/user/database-setup/
  - DB=sqlite3
  - DB=postgresql DB_USERNAME=postgres DB_PASSWORD=""
  - DB=mysql2 DB_USERNAME=travis DB_PASSWORD=""

dist: trusty
# Remove `sudo:required` once mysql-server-5.6 is in the package whitelist:
# https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-trusty
sudo: required
before_install: bash .travis.setup.sh

script:
- bundle exec rspec --format d
- bundle exec rubocop
- CODECLIMATE_TO_FILE=1 bundle exec codeclimate-test-reporter
# NB: --groups must equal to the total number of jobs = dbs * gemfiles * rubies.
- bundle exec codeclimate-batch --groups 9
