language: ruby

rvm:
- 2.2

cache: bundler
bundler_args: --path ../../vendor/bundle --without debug
gemfile:
- spec/gemfiles/rails_4_1.gemfile
- spec/gemfiles/rails_4_2.gemfile
- spec/gemfiles/rails_5_0.gemfile

env:
  matrix:
  # Username and password from http://docs.travis-ci.com/user/database-setup/
  - DB=postgresql DB_USERNAME=postgres DB_PASSWORD=""
  - DB=mysql2     DB_USERNAME=root DB_PASSWORD=""
  - DB=sqlite3
  global:
  - COVERAGE=1
  - TRAVIS=1

dist: trusty
sudo: required
before_install:
- bash .travis.setup.sh

script:
- bundle exec rspec --format d
- bundle exec rubocop
# NB: --groups must equal to the total number of jobs = dbs * gemfiles * rubies.
- bundle exec codeclimate-batch --groups 9
